.admin {
    background: #fff;
    
    .container {
        padding-top: 0;
    }

    .thumbnail > img, .thumbnail a > img {
        height: 210px;
    }

    .add.btn {
        margin-left: 1rem;
    }



}