@import "setting.scss";

body {
    background: $bodyBgColor;
    color: $navColor;
}
.nav {
    padding: 0.5rem 0;
    height: 4rem;
    position: fixed;
    top: 0rem;
    left: 15px;
    z-index: 2;
    width: 100%;
    background: $navBgColor;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    & > div {
        height: 3rem;
    }
    .logo {
        display: inline-block;

        img {
            margin-top: 0.3rem;
            width: 2.4rem;
            height: 2.4rem;
            vertical-align: center;
        }
        .app-name {
            padding-left: 0.5rem;
            vertical-align: middle;
        }
    }
    .nav-list {
        list-style: none;
        font-weight: 500;

        a {
            margin: 0;
            padding: 0 0.75rem;
            display: inline-block;
            line-height: 3rem;
            cursor: pointer;
            opacity: 0.5;
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }
        a:hover,
        a:active {
            opacity: 1;
        }
        
    }
    .nav-toggle {
        display: none;
    }
}


.carousel-content {
    height: 33rem;
    line-height: 33rem;

    .carousel,
    .carousel-inner,
    .carousel-inner .item,
    .carousel-inner .item img {
        width: 100%;
        height: 100%;
    }
    .carousel-inner {
        .item {
            .carousel-cnt-title, 
            .carousel-cnt-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                line-height: 1;
                color: #fff;
            }
            .carousel-cnt-title {
                font-size: 3rem;
                transform: translate3d(-50%, calc(-50% - 2rem), 0);
            }
            .carousel-cnt-btn {
                padding: 0.6rem 1.5rem;
                font-size: 1.3rem;
                background: transparent;
                border: #fff 1px solid;
                cursor: pointer;
                transform: translate3d(-50%, calc(-50% + 3rem), 0);
                outline: none;
            }
        }
    }
    .carousel-indicators {
        top: 15.5rem;
        height: 10px;
    }
    .carousel-control {
        font-size: 4rem; 
    }
}

.comment-content {
    margin: 1.5rem -15px;

    overflow: hidden;
    h1 {
        text-align: center;
    }
    h6 {
        margin: 0;
        line-height: 1.8rem;
        text-align: center;
    }
    img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .scroll-container {
        width: 100000%;
        position: relative;
        transition: left 0.5s;
    }
    .scroll-container:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
        float: left;
        clear: both;
        
    }
    .comment-item-layout {
        display: inline-block;
        float: left;
        width: 33.333333vw;
    }
    // .col-xs-12.comment-item-layout {
    //     width: 100vw;
    // }
    // .col-sm-6.comment-item-layout {
    //     width: 50vw;
    // }
    // .col-md-4.comment-item-layout {
    //     width: 33.333333vw;
    // }
    .comment-item {
        margin: 1rem 0;
        padding: 1.5rem 0;
        height: 20rem;
        background: $commentBgColor;
        border-radius: 0.5rem;

        .comment-container,
        .user-container {
            height: 50%;
        }

        .comment-container {
            color: #979FA8;
            line-height: 1.8rem;
        }
        .user-container {
            padding: 2rem 0 0.5rem 0;
            text-align: center;
            img {
                margin-bottom: 0.5rem;
                height: 3rem;
                border-radius: 2.5rem;
            }
        }
    }
    .comment-list:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
        float: left;
        clear: both;
    }
    .indicatiors {
        text-align: center;
        .indicator-list {
            .indicatior-item {
                display: inline-block;
                width: 0.6rem;
                height: 0.6rem;
                background: #ccc;
                border-radius: 0.3rem;
            }
            .indicatior-item.active {
                background: #fff;
                border: 1px solid #ccc;
            }
        }
    }
    
}



// views/plane.html
.plane-doc {
    .planes {
        .layout {
            padding: 1rem;
            .item {
                border: 1px solid #ccc;
                text-align: center;
            }
        }
    }
}

// views/operation.html
.operation-doc {
    .numcontainer {
        .sta {
            h4:nth-child(1) {
                margin-bottom: 3.6rem;
            }
        }
    }
}


// views/train.html
.train-doc {
    .select-title {
        text-align: center;
    }
    
    .numcontainer {
        .sta {
            h4:nth-child(1) {
                margin-bottom: 3.6rem;
            }
        }
    }
}
.train-item-doc {
    .trains {
        .layout {
            padding: 1rem;
            .item {
                border: 1px solid #ccc;
                text-align: center;
            }
        }
    }
    .breadcrumb {
        margin-left: -15px;
    }
}



// views/operation.html
.operation-doc {
    .img {
        width: 100%;
    }
    
    
} 

// views/operation/*.html
.operation-item-doc {
    padding-left: 25px;
    padding-right: 25px;
    .place {
        padding-top: 1rem;
        padding-bottom: 1rem;
        // background: #fff;
        border-radius: 0.6rem;
    }
}

.place-doc {
    padding-left: 25px;
    padding-right: 25px;
    .item {
        margin-bottom: 1rem;
        padding: 1rem;
        background: #fff;
    }    
}

.place-detail-doc {

    .place-detail {
        background: #fff;
        border-radius: 0.5rem;
        text-align: center;
    }
    .place-name {
        text-align: center;
    }
    .place-desc {
        margin-bottom: 2rem;
    }
    h3 {
        margin: 2rem 0 1.2rem 0;
    }

}


@media screen and (max-width: 600px) {
    .app-name {
        display: none;
    }
    .carousel-indicators li,
    .carousel-indicators li.active {
        margin-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .nav {
        left: 15px;
        .nav-list {
            font-size: 1rem;
            a {
                padding: 0 0.25rem;
            }
            
        }

    }
    .carousel-content {
        height: 23rem;
        line-height: 23rem;
        .carousel-indicators {
            top: 10rem;
        }
    }
    .img-container {
        padding: 0;
    }
    
    .comment-content {
        .comment-item-layout {
            width: 100vw;
        }
        .comment-item {
            .user-container {
                padding: 1.5rem 0 0 0;
            }
        }
    }
    .operation-doc,
    .train-doc {
        .numcontainer {
            .sta {
                h4:nth-child(1) {
                    margin-bottom: 1.75rem;
                }
            }
        }
    }

}
@media screen and (min-width: 400px) and (max-width: 768px) {
    .comment-content {
        .comment-item-layout {
            width: 50vw;
        }
    }
    .operation-doc,
    .train-doc {
        .numcontainer {
            .sta {
                h4:nth-child(1) {
                    margin-bottom: 2.75rem;
                }
            }
        }
    }
}


@media screen and (min-width: 769px) and (max-width: 1500px) {
    html {
        font-size: 18px;
    }
}










