$bodyColor: rgba(240, 242, 245, 1);
$bodyBgColor: #f0f2f5;
$navBgColor: #fff;
$navColor: #333;
$commentBgColor: #fff;


$staBgColor: #fff;

$selectBgColor: #fff;
$selectActiveBgColor: #fff;

$fixtureBgColor: #fff;

$hrColor: #e5e5e5;
