<div class="container admin-home" ng-controller="adminHomeController">
    
    <h2>轮播图片设置</h2>
    <div class="row carsousels">
        <div class="col-md-3 carousel" ng-repeat="carousel in data.carousels">
            <div class="thumbnail">
                <img src="{{carousel.imageurl}}" alt="">
                <div class="caption">
                    <h3>{{carousel.name}}</h3>
                    <p>
                        <a href="#" class="btn btn-default" role="button" ng-click="modCarouselBtn(carousel)">
                            修改
                        </a> 
                        <a href="#" class="btn btn-danger" role="button" ng-click="delCarouselBtn(carousel)">
                            删除
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <h2>评论设置<button class="btn btn-default add" ng-click="addCommentBtn()">新增评论</button></h2>
    <div class="row comments">
        <div class="col-md-3 comment" ng-repeat="comment in data.comments">
            <div class="thumbnail">
                <img src="{{comment.avatar}}" alt="">
                <div class="caption">
                    <h3>{{comment.name}}</h3>
                    <p>{{comment.name}} - {{comment.job}}</p>
                    <p>{{comment.content}}</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button" ng-click="modCommentBtn(comment)">
                            修改
                        </a> 
                        <a href="#" class="btn btn-danger" role="button" ng-click="delCommentBtn(comment)">
                            删除
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <h2>活动设置<button class="btn btn-default add" ng-click="addPlane()">新增活动</button></h2>
    <div class="row planes">
        <div class="col-md-3 plane" ng-repeat="plane in data.planes">
            <div class="thumbnail">
                <img src="{{plane.imageurl}}" alt="">
                <div class="caption">
                    <h3>{{plane.title}}</h3>
                    <p>{{plane.pre[1].label}}</p>
                    <p>{{plane.membernum}}</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button" ng-click="modPlaneBtn(plane)">
                            修改
                        </a> 
                        <a href="#" class="btn btn-danger" role="button" ng-click="delPlaneBtn(plane)">
                            删除
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <h2>场馆设置<button class="btn btn-default add" ng-click="addPlace()">新增场馆</button></h2>
    <div class="row places">
        <div class="col-md-3 place" ng-repeat="place in data.places">
            <div class="thumbnail">
                <img src="{{place.imageurl}}" alt="">
                <div class="caption">
                    <h3>{{place.title}}</h3>
                    <p>{{place.addr}}</p>
                    <p>{{place.tele}}</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button" ng-click="modPlaceBtn(place)">
                            修改
                        </a> 
                        <a href="#" class="btn btn-danger" role="button" ng-click="delPlaceBtn(place)">
                            删除
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2>培训设置<button class="btn btn-default add" ng-click="addTrain()">举办培训</button></h2>
    <div class="row trains">
        <div class="col-md-3 train" ng-repeat="train in data.trains">
            <div class="thumbnail">
                <img src="{{train.imageurl}}" alt="">
                <div class="caption">
                    <h3>{{train.title}}</h3>
                    <p>{{train.addr}}</p>
                    <p>{{train.tele}}</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button" ng-click="modTrainBtn(train)">
                            修改
                        </a> 
                        <a href="#" class="btn btn-danger" role="button" ng-click="delTrainBtn(train)">
                            删除
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <!-- carousel section start -->
    <div class="modal fade" id="carouselModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改轮播
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">图片地址</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_carousel.imageurl}}" class="form-control" id="imageurl" placeholder="请输入轮播图片地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">版块名称</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_carousel.name}}" class="form-control" id="name" placeholder="请输入版块名称">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modCarouselSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- carousel section end -->

    <!-- comment section start -->
    <div class="modal fade" id="commentModel_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增评论
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="avatar" class="col-sm-2 control-label">头像</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="avatar" placeholder="请输入头像地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">评论人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="请输入评论人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="job" class="col-sm-2 control-label">评论人职位</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="job" placeholder="请输入评论人职位">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">评论内容</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="content" placeholder="请输入评论内容">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addCommentSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改评论
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="avatar" class="col-sm-2 control-label">头像</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_comment.avatar}}" class="form-control" id="avatar" placeholder="请输入头像地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">评论人</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_comment.name}}" class="form-control" id="name" placeholder="请输入评论人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="job" class="col-sm-2 control-label">评论人职位</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_comment.job}}" class="form-control" id="job" placeholder="请输入评论人职位">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">评论内容</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_comment.content}}" class="form-control" id="content" placeholder="请输入评论内容">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modCommentSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- comment section end -->

    <!-- plane section start -->
    <div class="modal fade" id="planeModel_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增活动
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">活动图片</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="imageurl" placeholder="请输入活动图片地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">活动标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" placeholder="请输入活动标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="membernum" class="col-sm-2 control-label">活动规模/人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="membernum" placeholder="请输入活动规模/人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="intro" class="col-sm-2 control-label">活动简介</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="intro" placeholder="请输入活动简介">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="video" placeholder="请输入视频地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">活动类型</label>
                            <div class="col-sm-10">
                                <select id="type" class="form-control">
                                    <option value="1">趣味运动会</option>
                                    <option value="2">运动会</option>
                                    <option value="3">球类比赛</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addPlaneSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="planeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改活动
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">活动图片</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_plane.imageurl}}" class="form-control" id="imageurl" placeholder="请输入活动图片地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">活动标题</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_plane.title}}" class="form-control" id="title" placeholder="请输入活动标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="membernum" class="col-sm-2 control-label">活动规模/人</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_plane.membernum}}" class="form-control" id="membernum" placeholder="请输入活动规模/人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="intro" class="col-sm-2 control-label">活动简介</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_plane.intro}}" class="form-control" id="intro" placeholder="请输入活动简介">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_plane.video}}" class="form-control" id="video" placeholder="请输入视频地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">活动类型</label>
                            <div class="col-sm-10">
                                <select id="type" class="form-control">
                                    <option value="1">趣味运动会</option>
                                    <option value="2">运动会</option>
                                    <option value="3">球类比赛</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modCommentSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- plane section end -->

    <!-- place section start -->
    <div class="modal fade" id="placeModel_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增场馆
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">场馆图片</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="imageurl" placeholder="请输入场馆图片地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">场馆名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" placeholder="请输入场馆名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addr" class="col-sm-2 control-label">场馆地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addr" placeholder="请输入场馆地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tele" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tele" placeholder="请输入联系电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="intro" class="col-sm-2 control-label">场馆介绍</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="intro" placeholder="请输入介绍信息">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="video" placeholder="请输入视频地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">场馆类型</label>
                            <div class="col-sm-10">
                                <select id="type" class="form-control">
                                    <option value="badminton">羽毛球</option>
                                    <option value="tennis">网球</option>
                                    <option value="football">足球</option>
                                    <option value="swimming">游泳</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addPlaceSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="placeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改活动
                    </h4>
                </div>
                <div class="modal-body">
                     <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">场馆图片</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_place.imageurl}}" class="form-control" id="imageurl" placeholder="请输入场馆图片地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">场馆名称</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_place.title}}" class="form-control" id="title" placeholder="请输入场馆名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addr" class="col-sm-2 control-label">场馆地址</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_place.addr}}" class="form-control" id="addr" placeholder="请输入场馆地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tele" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_place.tele}}" class="form-control" id="tele" placeholder="请输入联系电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="intro" class="col-sm-2 control-label">场馆介绍</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_place.intro}}" class="form-control" id="intro" placeholder="请输入介绍信息">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_place.video}}" class="form-control" id="video" placeholder="请输入视频地址">
                            </div>
                        </div>
        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modPlaceSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- place section end -->

    <!-- train section start -->
    <div class="modal fade" id="trainModel_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增培训
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">培训海报</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="imageurl" placeholder="请输入培训海报地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">培训名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" placeholder="请输入培训名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addr" class="col-sm-2 control-label">培训地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addr" placeholder="请输入培训地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tele" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tele" placeholder="请输入联系电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="intro" class="col-sm-2 control-label">培训介绍</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="intro" placeholder="请输入介绍信息">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="video" placeholder="请输入视频地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">培训类型</label>
                            <div class="col-sm-10">
                                <select id="type" class="form-control">
                                    <option value="badminton">羽毛球</option>
                                    <option value="tennis">网球</option>
                                    <option value="football">足球</option>
                                    <option value="swimming">游泳</option>
                                    <option value="basketball">篮球</option>
                                    <option value="score">中考体育</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addTrainSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="trainModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        更新培训信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="imageurl" class="col-sm-2 control-label">培训海报</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_train.imageurl}}" class="form-control" id="imageurl" placeholder="请输入培训海报地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">培训名称</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_train.title}}" class="form-control" id="title" placeholder="请输入培训名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addr" class="col-sm-2 control-label">培训地址</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_train.addr}}" class="form-control" id="addr" placeholder="请输入培训地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tele" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_train.tele}}" class="form-control" id="tele" placeholder="请输入联系电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="intro" class="col-sm-2 control-label">培训介绍</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_train.intro}}" class="form-control" id="intro" placeholder="请输入介绍信息">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{now_train.video}}" class="form-control" id="video" placeholder="请输入视频地址">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modTrainSubmit()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- train section end -->

    
    

</div>