

    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
            <ol class="breadcrumb row">
                <li ng-repeat="d in item.pre"><a href="{{d.url}}">{{d.label}}</a></li>
                <li class="active">{{item.title}}</li>
            </ol>
        </div>
    </div>

    <div class="row place">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 place-detail">
            <h2 class="place-name">{{item.title}}</h2>
            <hr>
            <p class="place-desc">
                {{item.intro}}
            </p>
            <h2 style="text-align: center;">风采展示</h2>
            <hr>
            <p class="place-img">
                <video src="{{item.video}}" controls="controls">
                    您的浏览器不支持 video 标签。
                </video>
            </p>
        </div>
    </div>

    