<div class="row footer">
    <div class="col-xs-8 col-sm-8 col-md-8 info">
        <div class="col-xs-12 col-sm-6 col-md-6 col1">
            <img src="/images/logo5.jpg" alt="">
            <p>0755-22721375</p>
            <p><a href="mailto: 2530557206@qq.com">2530557206@qq.com</a></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col2">
            <h2>关于力雅体育</h2>
            <p>联系我们</p>
            <p>企业介绍</p>
            <p>战略合作伙伴</p>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col3">
        <h2>关注力雅体育公众号</h2>
        <img src="/images/erweima.jpg" alt="" />
    </div>
</div>