<div class="nav row" ngController="HeaderController">
    <div class="col-xs-2 col-sm-3 col-md-offset-1 col-md-3" >
        <a class="logo" href="/">
            <img src="/images/logo7-2.png" alt="logo">
            <span class="app-name h3">力雅体育</span>
        </a>
        
    </div>
    <div class="col-xs-10 col-sm-9 col-md-offset-0 col-md-7">
        <ul class="nav-list">
            <a href="/plane"><li class="nav-item">活动策划</li></a>
            <a href="/operation"><li class="nav-item">场馆运营</li></a>
            <a href="/train"><li class="nav-item">体育培训</li></a>
        </ul>
        <span class="nav-toggle">+</span>
    </div>
</div>