<div class="container plane-doc" ng-controller="PlaneController">
    <ng-include src="'modules/client/views/header.html'">
    </ng-include>

    <div class="row numcontainer flex">
        <div class="sta flex flex-item-1 justify-content-center">
            <div class="sta-text">
                <h4>目前已成功策划</h4>
                <h4>个体育活动</h4>
                <p class="amount-para">累计总金额<span class="total-amount">39718029</span>元</p>
            </div>
            <div class="sta-num">
                <ul class="digits">
                    <li class="digit">1</li>
                    <li class="digit">5</li>
                    <li class="digit">6</li>
                    <li class="digit">4</li>
                    <li class="digit">1</li>
                </ul>
            </div>
        </div>
        <div class="plane-erweima">
            <img class="img erweima" src="/images/erweima.jpg" alt="">
        </div>
    </div>

    <hr class="hr">

    <div class="row ">
        <div class="select ">
            <ul class="select-list" >
                <li class="select-item" ng-class="{'active': type.length == 2}" ng-click="planeFilter(3)">运动会</li>
                <li class="select-item" ng-class="{'active': type == 1}" ng-click="planeFilter(1)">趣味运动会</li>
                <li class="select-item" ng-class="{'active': type == 2}" ng-click="planeFilter(2)">球类比赛</li>
            </ul>
        </div>
    </div>


    <div class="row planes">
        <div ng-repeat="plane in planes" class="col-xs-6 col-sm-4 col-md-4 layout">
            <div class="thumbnail item">
                <img src="{{plane.imageurl}}" alt="活动图片">
                <div class="caption">
                    <h5>{{plane.title}}</h5>
                    <h5>运动会</h5>
                    <h5>{{plane.membernum}}人</h5>                    
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'modules/client/views/footer.html'">
    </ng-include>



</div>