body {
  background: #f0f2f5;
  color: #333; }

.nav {
  padding: 0.5rem 0;
  height: 4rem;
  position: fixed;
  top: 0rem;
  left: 15px;
  z-index: 2;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  .nav > div {
    height: 3rem; }
  .nav .logo {
    display: inline-block; }
    .nav .logo img {
      margin-top: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;
      vertical-align: center; }
    .nav .logo .app-name {
      padding-left: 0.5rem;
      vertical-align: middle; }
  .nav .nav-list {
    list-style: none;
    font-weight: 500; }
    .nav .nav-list a {
      margin: 0;
      padding: 0 0.75rem;
      display: inline-block;
      line-height: 3rem;
      cursor: pointer;
      opacity: 0.5;
      color: inherit;
      text-decoration: none;
      transition: all 0.3s; }
    .nav .nav-list a:hover,
    .nav .nav-list a:active {
      opacity: 1; }
  .nav .nav-toggle {
    display: none; }

.carousel-content {
  height: 33rem;
  line-height: 33rem; }
  .carousel-content .carousel,
  .carousel-content .carousel-inner,
  .carousel-content .carousel-inner .item,
  .carousel-content .carousel-inner .item img {
    width: 100%;
    height: 100%; }
  .carousel-content .carousel-inner .item .carousel-cnt-title,
  .carousel-content .carousel-inner .item .carousel-cnt-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1;
    color: #fff; }
  .carousel-content .carousel-inner .item .carousel-cnt-title {
    font-size: 3rem;
    transform: translate3d(-50%, calc(-50% - 2rem), 0); }
  .carousel-content .carousel-inner .item .carousel-cnt-btn {
    padding: 0.6rem 1.5rem;
    font-size: 1.3rem;
    background: transparent;
    border: #fff 1px solid;
    cursor: pointer;
    transform: translate3d(-50%, calc(-50% + 3rem), 0);
    outline: none; }
  .carousel-content .carousel-indicators {
    top: 15.5rem;
    height: 10px; }
  .carousel-content .carousel-control {
    font-size: 4rem; }

.comment-content {
  margin: 1.5rem -15px;
  overflow: hidden; }
  .comment-content h1 {
    text-align: center; }
  .comment-content h6 {
    margin: 0;
    line-height: 1.8rem;
    text-align: center; }
  .comment-content img {
    width: auto;
    max-width: 100%;
    max-height: 100%; }
  .comment-content .scroll-container {
    width: 100000%;
    position: relative;
    transition: left 0.5s; }
  .comment-content .scroll-container:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    float: left;
    clear: both; }
  .comment-content .comment-item-layout {
    display: inline-block;
    float: left;
    width: 33.333333vw; }
  .comment-content .comment-item {
    margin: 1rem 0;
    padding: 1.5rem 0;
    height: 20rem;
    background: #fff;
    border-radius: 0.5rem; }
    .comment-content .comment-item .comment-container,
    .comment-content .comment-item .user-container {
      height: 50%; }
    .comment-content .comment-item .comment-container {
      color: #979FA8;
      line-height: 1.8rem; }
    .comment-content .comment-item .user-container {
      padding: 2rem 0 0.5rem 0;
      text-align: center; }
      .comment-content .comment-item .user-container img {
        margin-bottom: 0.5rem;
        height: 3rem;
        border-radius: 2.5rem; }
  .comment-content .comment-list:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    float: left;
    clear: both; }
  .comment-content .indicatiors {
    text-align: center; }
    .comment-content .indicatiors .indicator-list .indicatior-item {
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      background: #ccc;
      border-radius: 0.3rem; }
    .comment-content .indicatiors .indicator-list .indicatior-item.active {
      background: #fff;
      border: 1px solid #ccc; }

.plane-doc .planes .layout {
  padding: 1rem; }
  .plane-doc .planes .layout .item {
    border: 1px solid #ccc;
    text-align: center; }

.operation-doc .numcontainer .sta h4:nth-child(1) {
  margin-bottom: 3.6rem; }

.train-doc .select-title {
  text-align: center; }

.train-doc .numcontainer .sta h4:nth-child(1) {
  margin-bottom: 3.6rem; }

.train-item-doc .trains .layout {
  padding: 1rem; }
  .train-item-doc .trains .layout .item {
    border: 1px solid #ccc;
    text-align: center; }

.train-item-doc .breadcrumb {
  margin-left: -15px; }

.operation-doc .img {
  width: 100%; }

.operation-item-doc {
  padding-left: 25px;
  padding-right: 25px; }
  .operation-item-doc .place {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.6rem; }

.place-doc {
  padding-left: 25px;
  padding-right: 25px; }
  .place-doc .item {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #fff; }

.place-detail-doc .place-detail {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center; }

.place-detail-doc .place-name {
  text-align: center; }

.place-detail-doc .place-desc {
  margin-bottom: 2rem; }

.place-detail-doc h3 {
  margin: 2rem 0 1.2rem 0; }

@media screen and (max-width: 600px) {
  .app-name {
    display: none; }
  .carousel-indicators li,
  .carousel-indicators li.active {
    margin-right: 10px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 12px; }
  .nav {
    left: 15px; }
    .nav .nav-list {
      font-size: 1rem; }
      .nav .nav-list a {
        padding: 0 0.25rem; }
  .carousel-content {
    height: 23rem;
    line-height: 23rem; }
    .carousel-content .carousel-indicators {
      top: 10rem; }
  .img-container {
    padding: 0; }
  .comment-content .comment-item-layout {
    width: 100vw; }
  .comment-content .comment-item .user-container {
    padding: 1.5rem 0 0 0; }
  .operation-doc .numcontainer .sta h4:nth-child(1),
  .train-doc .numcontainer .sta h4:nth-child(1) {
    margin-bottom: 1.75rem; } }

@media screen and (min-width: 400px) and (max-width: 768px) {
  .comment-content .comment-item-layout {
    width: 50vw; }
  .operation-doc .numcontainer .sta h4:nth-child(1),
  .train-doc .numcontainer .sta h4:nth-child(1) {
    margin-bottom: 2.75rem; } }

@media screen and (min-width: 769px) and (max-width: 1500px) {
  html {
    font-size: 18px; } }
