<div class="container train-item-doc" ng-controller="TrainByKindController">
    <ng-include src="'modules/client/views/header.html'">
    </ng-include>

    <div class="row">
        <div class="col-xs-12 col-offset-sm-1 col-sm-12 col-md-12">
            <ol class="breadcrumb row">
                <li><a href="/train">体育培训</a></li>
                <li class="active">{{typeName}}</li>
            </ol>
        </div>
    </div>


    <div class="row trains">
        <div class="col-xs-6 col-offset-sm-1 col-sm-4 col-md-4 layout" ng-repeat="train in trains">
            <div class="thumbnail item">
                <img src="{{train.imageurl}}" alt="培训图片">
                <div class="caption">
                    <h5><a href="/train/detail?id={{train._id}}">{{train.title}}</a></h5>
                    <h5>地区：{{train.addr}}</h5>
                    <h5>联系电话： {{train.tele}}</h5>                    
                </div>
            </div>
        </div>
    
    </div>

    <ng-include src="'modules/client/views/footer.html'">
    </ng-include>

</div>