<div class="container operation-item-doc place-doc" ng-controller="PlaceController">
    <ng-include src="'modules/client/views/header.html'">
    </ng-include>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
            <ol class="breadcrumb row">
                <li><a href="/operation">场馆介绍</a></li>
                <li class="active">{{typeName}}</li>
            </ol>
        </div>
    </div>

    <div class="row place">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10" ng-repeat="place in places">
            <div class="item row">
                <div class="col-xs-6 col-sm-6 col-md-2 img-container">
                    <img class="img" src="{{place.imageurl}}" alt="">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-10 flex flex-column">
                    <h5><a class="clear" href="/operation/detail?id={{place._id}}">{{place.title}}</a></h5>
                    <h5>{{place.tele}}</h5>
                    <h5>{{place.addr}}</h5>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'modules/client/views/footer.html'">
    </ng-include>
    
</div>