<div class="container operation-item-doc place-detail-doc" ng-controller="PlaceDetailController">
    <ng-include src="'modules/client/views/header.html'">
    </ng-include>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
            <ol class="breadcrumb row">
                <li><a href="/operation">场馆介绍</a></li>
                <li><a href="/operation/place?type={{type}}">{{typeName}}</a></li>
                <li class="active">{{placeDetail.title}}</li>
            </ol>
        </div>
    </div>

    <div class="row place">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 place-detail">
            <h2 class="place-name">{{placeDetail.title}}</h2>
            <hr>
            <p class="place-desc">
                {{placeDetail.intro}}
            </p>
            <h2 style="text-align: center;">风采展示</h2>
            <hr>
            <p class="place-img">
                <video src="{{placeDetail.video}}" controls="controls">
                    您的浏览器不支持 video 标签。
                </video>
            </p>
        </div>
    </div>

    <ng-include src="'modules/client/views/footer.html'">
    </ng-include>
    
</div>